.search {
  .form-group {
    padding-right: 10px;
  }

  label {
    margin-right: 10px;
  }
}

.status-working {
  border-color: yellow;
}
.status-success {
  border-color: green;
}
.status-error {
  border-color: red;
}