.search {
  .form-group {
    padding-right: 10px;
  }

  label {
    margin-right: 10px;
  }
}

.status-working {
  border-color: yellow !important;
}
.status-success {
  border-color: green !important;
}
.status-error {
  border-color: red !important;
}